<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="React Routes" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>

			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Content-Security-Policy" value="script-src-elem 'self' https://brf-api-iuris-pagamentos.azurewebsites.net; 'https://brf-app-iuris.azurewebsites.net/assets/index-3e1bc7be.js; https://fonts.gstatic.com/s/notosans/v35/; https://fonts.gstatic.com/s/notosans/v35/o-0mIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjcz6L1SoM-jCpoiyD9A-9e6VLKzA.woff2; https://brf-api-iuris-pagamentos.azurewebsites.net;"/>
				<add name="Referrer-Policy" value="no-referrer" />
				<add name="Permissions-Policy" value="geolocation=(self)" />
				<add name="Cross-Origin-Embedder-Policy" value="require-corp" />
				<add name="Cross-Origin-Opener-Policy" value="same-origin" />
				<add name="Cross-Origin-Resource-Policy" value="same-site" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>