.tablecell-observation {

	p {
		word-wrap: break-all !important;
		word-break: break-word !important;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: horizontal;
		width: inherit;
	}

}