.MuiFormControl-root.readonly-field,
.MuiFormControlLabel-root.readonly-field,
.readonly-field {
	.MuiFormLabel-root,
	.MuiTypography-root.MuiTypography-body2 {
		font-weight: 700;
		font-family: 'Noto Sans';
		margin-bottom: 12px;
	}
	
	.MuiFormLabel-root,
	.MuiTypography-root,
	.MuiCheckbox-root,
	.MuiRadio-root {
		color: #787878;
	}
	
	.MuiTypography-root.MuiTypography-body1 {
		font-family: 'Roboto';
	}

	.MuiFormControlLabel-label p,
	legend {
		margin-bottom: 0 !important;
	}
}

.MuiSwitch-colorPrimary.Mui-disabled.Mui-checked {
	color: rgba(130, 40, 145, 0.5);
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
	background-color: white;
}